body{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
}

.container{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	z-index: 1;
	opacity: 0.7;
}

.logo{
	position: absolute;
	top: calc(50% - 45px);
	left: calc(50% - 300px);
}

.logo div{
	float: left;
	color: #fff;
	font-size: 45px;
}

.logo div span{
	color: #5379FA !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 70px);
	padding: 10px;
}

.login input[type=text],[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid #7A7A7A;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	padding: 4px;
	margin-top: 5px;
}

.login input[type=button],[type=submit]{
	width: 130px;
	height: 35px;
	float: left;
	background: #ccc;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	font-size: 16px;
	padding: 6px;
	margin-top: 10px;
}

.link{
	width: 85px;
	color: #FFFFFF;
	float: right;
	margin: -20px 2px;
}