body{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Arial;
	font-size: 16px;
	background: #F3F3F3;
}

.header{
	width: 100%;
	height: 80px;
	background: #03203A;
	float: left;
}

.loguser{
	float: right;
	border-radius: 50px;
	margin-top: 15px;
	margin-right: 50px;
}

.user{
	font-size: 20px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.panel{
	width: 15%;
	float: left;
	background: #03203A;
}

.complement{
	width: 100%;
	height: 255px;
	background: #03203A;
}

.contenido{
	width: 85%;
	float: left;
	text-align: justify;
	color: #000;
}

.options{
  	display: block;
  	color: #FFFFFF;
  	padding: 12px 16px;
  	text-decoration: none;
  	padding-left: 25px;
  	border: 1px solid #555;
}

.options:hover{
	background: #4979A5;
	color: #000;
}

.firm{
    padding: 10px;
    position: static;
    z-index: 1;
}

.info{
	padding: 20px 180px;
}